body {
    background: #eee;
}
.my-2{
  margin-top: 4.5rem!important;
  margin-bottom: 0.5rem!important;
}
.ml-sm-3{
  margin-top: 30px;
}

@media (max-width: 576px) {
  /* Adjust font size and line height */
  .col-md-6 p {
    font-size: 16px;
    line-height: 1.5;
  }
  .aboutus{
    margin-top: 30px;
  }

  
  /* Add padding to the container */
  .container.my-2 {
    padding: 20px;
  }
  .img-fluid{
    margin-left: 5% !important;
    margin-right: 5% !important;
    width:  90% !important;
  }

}
.margin{
  margin-right: 10px !important;
}

 

  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .slider {
    margin-top: 70px;
    background-color: whitesmoke;
    padding: 8em 2em;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }

  .image {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
  }
  